.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 400px;
}

.row{
    display: flex;
    justify-content: center;
}

.square{
  width: 25px;
  height: 25px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
}