#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-top: 2rem;
    max-width: 400px;
    max-height: 600px;
}

.row{
    display: block;
    justify-content: center;
}

.square{
  width: 25px;
  height: 25px;
  position: relative;
  background-color: #eaeaea;
  border: 1px solid #ccc;
}

.square.hovered{
  background-color: lightblue;
}